@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: "Poppins", sans-serif;
    color:white;
    background: linear-gradient(to right, #30cfd0, #330867);
    margin: 0;
    height: 100vh;
    justify-content: center;
    gap: 20px;
}


figure {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;  

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;    
    }
}

h1 {
    margin: 0;
    font-size: 24px;            
    /*font-family: Arial, Helvetica, sans-serif;
    text-align=center;
    */
}

h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
    font-weight: 400;    
}

main {
    gap:  20px;
    
    /*button {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 16px;
        width: 200px;
    }*/

    .w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}

    button {
        /*color: #000 !important;
        background-color: #f1f1f1 !important;*/

        background-color: #939ba1;
        border-radius: 100px;
        box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 58, 187, 0.15) 0 1px 2px,rgba(44, 118, 187, 0.15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
        color: rgb(232, 248, 232);
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    button:hover {
        box-shadow: rgba(122, 140, 197, 0.35) 0 -25px 18px -14px inset,rgba(122, 140, 197,.25) 0 1px 2px,rgba(122, 140, 197,.25) 0 2px 4px,rgba(122, 140, 197,.25) 0 4px 8px,rgba(122, 140, 197,.25) 0 8px 16px,rgba(122, 140, 197,.25) 0 16px 32px;
        transform: scale(1.05) rotate(-1deg);
    }

    .Port1, .Port2, .Port3 {
        display: flex;
        flex-direction: column;
        background-color: rgb(189, 190, 212);
        padding: 15px;
        height: 100px;
        width: 100px;
        border-radius: 5%;
        border-color: black ;
        border-width: 10px;
        flex-wrap: wrap;
    }

    /* Style to Responsive design to web page */

    /* Potrait */
    @media (max-width:768px) {
        .Portfolio1 {
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            gap: 20px; 
            flex-wrap: wrap;
            align-items: center;
        }
    }

    /* Landscape view */
    @media (min-width:768px) and (orientation: landscape){
        .Portfolio1 {
            display: flex; 
            flex-direction: row; 
            justify-content: center; 
            gap: 20px; 
            flex-wrap: wrap;
            align-items: center;
        }
    }
    /* Smaller screen */
    @media (max-width=480px) {
       
    }   


}
